node_modules/

**/3rd-party-licenses.json

**/.env
**/.env.*

**/*.log
mongodb_data

/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/libraries/test_package.xml
/.idea/libraries/test_package2.xml
/.idea/libraries/test_package3.xml
/.idea/libraries/ts_commonjs_default_export.xml
/.idea/libraries/ts_commonjs_default_export2.xml
/.idea/libraries/ts_commonjs_default_export3.xml
/.idea/.gitignore
/.idea/aloha.iml
/.idea/google-java-format.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
precommit-license-check.sh
prometheus.yml
